*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 700px;
    margin: 30px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
}

.form-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px 8px;
    margin-top: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 16px;
    margin-bottom: 5px;
}
input,select,textarea{
    padding:6px 10px;
    border:1px solid grey;
    border-radius: 5px;
    font-size: 13px;
}
input:focus{
    outline-color: red;
}
.btn_container{
    display: flex;
    justify-content: center;
}
.btn_container > button{
    margin:10px 15px;
    border: transparent solid 2px;
    padding:5px 10px;    
    border-radius: 5px;
    background-color: rgb(227, 218, 164);
    transition: 0.3s ease-in;
}
.btn_container > button:hover{
    background-color: rgb(250, 169, 103);
    border:2px solid red;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.addres_textarea{
    grid-column: 1/ span 2;
}
.addres_textarea textarea{
    width: 100%;
    margin-top: 5px;
}

@media (max-width:460px){
    .addres_textarea{
        grid-column: 1/ span 1;
    }    
}